<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CKEditor 5 in EJS</title>
    <!-- Include CSS for CKEditor 5 -->
    <link
      rel="stylesheet"
      href="https://cdn.ckeditor.com/ckeditor5/34.1.0/classic/themes/lark.css"
    />
  </head>
  <body>
    <h1>Email Editor on EJS</h1>
    <!-- Create a div where the editor will be placed -->
    <div id="editor">Type some text here...</div>

    <!-- Include JS for CKEditor 5 -->
    <script src="https://cdn.ckeditor.com/ckeditor5/34.1.0/classic/ckeditor.js"></script>
    <script>
      // Initialize the CKEditor on the div with id 'editor'
      ClassicEditor.create(document.querySelector("#editor")).catch((error) => {
        console.error(error);
      });
    </script>
  </body>
</html>
